/* Full screen gradient background */
@import "tailwindcss";

body{
 background-color: black;
}
/* Hide scrollbar for all elements (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Prevent shifting due to scrollbar disappearance */
body {
  overflow-y: scroll;
}
::selection{

   color: rgb(229, 125, 20);
}
::after{
  color: aqua;
}